<% form_for(@artist, :url => { :action => 'create'})  do |f| %>
  <%= render :partial => 'form' %>
  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>
<br />
<p class="text4"><%= link_to 'Back', admin_artists_path %></p>
