<% form_for(@location, :url => {:action => 'create'}, :html => {:multipart => true}) do |f| %>
  <%= render :partial => 'form' %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br />
<p class="text4"><%= link_to 'Back', admin_locations_path %></p>
